################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pregatirepawexamsub1/bin/Debug
/pregatirepawexamsub1/obj/Debug
.vs/